* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: black;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 2px;
  background: white;
}

#crosshair::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 14px;
  height: 2px;
  background: white;
}

#crosshair::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 2px;
  height: 14px;
  background: white;
}
