* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: black;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 2px;
  background: white;
  z-index: 10;
}

#crosshair::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 14px;
  height: 2px;
  background: white;
}

#crosshair::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 2px;
  height: 14px;
  background: white;
}

#total {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

#play {
  position: relative;
  cursor: pointer;
  z-index: 101;
  width: 100px;
  height: 40px;
  color: white;
  background: darkslategray;
  border: none;
  border-radius: 8px;
  outline: none;
}
